<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="自作ステップアップフォルダなど">
    <meta name="author" content="ichigotake">
    <meta name="keywords" content="DBM,皿有,皿あり,さらあり,beatmania,IIDX,弐寺">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <header>
      <h1 id="brand-title">皿あり DBM ステップアップ</h1>
      <div id="brand-description">自作のステップアップフォルダを試験運用中です<br>収録楽曲：SINOBUZ終了時点</div>
    </header>

    <div id="app-content">

      <table class="guide">
        <thead>
          <tr>
            <th>LEVEL</th>
            <th colspan="11">←かんたん 【皿難易度の目安】 むずかしい→</th>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">ほぼ無理皿なし</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th>LEVEL 4</th>
          <td>-</td>
          <td class="folder-f">4F</td>
          <td class="folder-e">4E</td>
          <td class="folder-d">4D</td>
          <td class="folder-c">4C</td>
          <td class="folder-b">4B</td>
          <td></td>
          <td class="folder-a">4A</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>LEVEL 5</th>
          <td>-</td>
          <td></td>
          <td class="folder-f">5F</td>
          <td class="folder-e">5E</td>
          <td class="folder-d">5D</td>
          <td class="folder-c">5C</td>
          <td class="folder-b">5B</td>
          <td class="folder-a">5A</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>LEVEL 6</th>
          <td>-</td>
          <td></td>
          <td class="folder-f">6F</td>
          <td class="folder-e">6E</td>
          <td class="folder-d">6D</td>
          <td class="folder-c">6C</td>
          <td class="folder-b">6B</td>
          <td class="folder-a">6A</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>LEVEL 7</th>
          <td>-</td>
          <td></td>
          <td></td>
          <td class="folder-f">7F</td>
          <td class="folder-e">7E</td>
          <td class="folder-d">7D</td>
          <td class="folder-c">7C</td>
          <td class="folder-b">7B</td>
          <td class="folder-a">7A</td>
          <td></td>
        </tr>
        <tr>
          <th>LEVEL 8</th>
          <td>-</td>
          <td colspan="9">調整中</td>
          <!--<td class="folder-f">8F</td>
          <td class="folder-e">8E</td>
          <td class="folder-d">8D</td>
          <td></td>
          <td class="folder-c">8C</td>
          <td class="folder-b">8B</td>
          <td class="folder-a">8A</td>-->
        </tr>
        <!--<tr>
          <th>LEVEL 9</th>
          <td>-</td>
          <td></td>
          <td></td>
          <td class="folder-f">9F</td>
          <td></td>
          <td class="folder-e">9E</td>
          <td class="folder-d">9D</td>
          <td></td>
          <td class="folder-c">9C</td>
          <td class="folder-b">9B</td>
          <td class="folder-a">9A</td>
        </tr>-->
        <!--<tr>
          <th>LEVEL 10</th>
          <td>-</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="folder-f">10F</td>
          <td></td>
          <td></td>
          <td class="folder-e">10E</td>
          <td class="folder-d">10D</td>
          <td class="folder-c">10C</td>
          <td class="folder-b">10B</td>
          <td class="folder-a">10A</td>
        </tr>-->
        </tbody>
      </table>
      <div class="caption">
          デビューの目安: DP八段 <span class="folder-e">6E</span>、DP十段 <span class="folder-d">6D</span>、DP皆伝 <span class="folder-c">6C</span>/<span class="folder-d">7D</span>
      </div>

      <div class="tabbar">
      <!--
        <div class="link">
          <a href="#">EXPERT</a>
        </div>
      -->
        <ul>
          <% htmlWebpackPlugin.options.grades.forEach(function (value) { %>
              <li><a href="level-<%= value.name %>.html">LEVEL <%= value.levels.join('、') %></a></li>
          <% }); %>
        </ul>
      </div>

      <table class="musics">
        <colgroup class="cell-data"></colgroup>
        <colgroup class="cell-data"></colgroup>
        <colgroup></colgroup>
        <thead>
          <tr>
            <th>
              <select id="folder-selector" v-on:change="filterMusics">
                <option>ALL</option>
                <option>F</option>
                <option>E</option>
                <option>D</option>
                <option>C</option>
                <option>B</option>
                <option>A</option>
                <option>-</option>
              </select>
            </th>
            <th>
            </th>
            <th><label><input type="checkbox" id="isUndefinedShown" v-on:change="toggleUndefinedShown">未査定の曲を表示</label></th>
          </tr>
          <tr>
            <th>FOLDER</th>
            <th>LEVEL</th>
            <th>TITLE</th>
          </tr>
        </thead>
        <tbody>
          <% htmlWebpackPlugin.options.musics.forEach(function (value) { %>
          <tr class="folder-<%= value.folder.toLowerCase().substring(0, 1) %>"<% if (value.folder.length == 0) { %> style="display: none;"<% } %>>
            <td class="cell-data"><%= value.folder.substring(0, 1) %></td>
            <td class="cell-data"><%= value.level %></td>
            <td><%= decodeURIComponent(value.title) %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    </div>

    <footer>
    </footer>
  </body>
</html>

