<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LEVEL <%= grade.name %> - 皿ありDBMステップアップ</title>
    <meta name="description" content="自作の皿ありDBMステップアップフォルダ">
    <meta name="author" content="ichigotake">
    <meta name="keywords" content="DBM,皿有,皿あり,さらあり,beatmania,IIDX,弐寺">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" rel="text-html" href="/style.css">
  </head>
  <body>
    <header>
      <h1 id="brand-title"><a href="./">皿あり DBM</a></h1>
      <div id="brand-description">
        自作のステップアップフォルダを試験運用中です。<br>
        クリア難度ではなく、皿絡みの一番難しい要素を査定します。
      </div>
    </header>

    <div id="app-content">

      <%- include('./include/guide.ejs') %>

      <div class="tabbar">
        <ul>
          <% grades.forEach(function (value) { %>
              <li<% if (value.name === grade.name) { %> class="active"<% } %>><a href="level-<%= value.name %>.html">☆<%= value.levels.join(',') %></a></li>
          <% }); %>
        </ul>
      </div>

      <table class="musics">
        <colgroup class="cell-data"></colgroup>
        <colgroup class="cell-data"></colgroup>
        <colgroup></colgroup>
        <thead>
          <tr>
            <th>
              <select id="folder-selector" v-on:change="filterMusics">
                <option>ALL</option>
                <option>F</option>
                <option>E</option>
                <option>D</option>
                <option>C</option>
                <option>B</option>
                <option>A</option>
                <option>-</option>
              </select>
            </th>
            <th>
              <% if (grade.levels.length > 1) { %>
              <select id="level-selector" v-on:change="filterMusics">
                <option>ALL</option>
                <% grade.levels.forEach(function (value) { %>
                <option value="<%= value %>"><%= value %></option>
                <% }) %>
              </select>
              <% } %>
            </th>
            <th><label><input type="checkbox" id="isUndefinedShown" v-on:change="toggleUndefinedShown">未査定の曲を表示</label></th>
          </tr>
          <tr>
            <th>FOLDER</th>
            <th>LEVEL</th>
            <th>TITLE</th>
          </tr>
        </thead>
        <tbody>
          <% musics.forEach(function (value) { %>
          <tr class="folder-<%= value.folder.toLowerCase().substring(0, 1) %>"<% if (value.folder.length == 0) { %> style="display: none;"<% } %>>
            <td class="cell-data"><%= value.folder.substring(0, 1) %></td>
            <td class="cell-data"><%= value.level %></td>
            <td><%= decodeURIComponent(value.title) %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    </div>

    <footer>
    </footer>
  </body>

  <script src="/bundle.js" defer async></script>
</html>
