<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <header>
      <h1 id="brand-title">DBM ステップアップ</h1>
      <div id="brand-description">自作ステップアップフォルダなど</div>
    </header>

    <div id="app-content">
      <div class="tabbar">
      <!--
        <div class="link">
          <a href="#">EXPERT</a>
        </div>
      -->
        <ul>
          <% htmlWebpackPlugin.options.grades.forEach(function (value) { %>
              <li><% if (value.name === htmlWebpackPlugin.options.grade.name) { %>☆<% } %><a href="level-<%= value.name %>.html">LEVEL <%= value.levels.join('、') %></a></li>
          <% }); %>
        </ul>
      </div>

      <table border=1>
        <caption>
          <!-- <a href="about">用語や査定について</a> -->
          クリア難度ではなく皿絡みの難易度です<br>
          段位は知り合い数人に遊んでもらった時の雑感
        </caption>
        <tr>
          <th>査定の目安 ＼ 段位の目安</th>
          <% htmlWebpackPlugin.options.grade.guides.forEach(function (guide) { %>
          <th><%= guide.name %></th>
          <% }) %>
        </tr>
        <% htmlWebpackPlugin.options.grade.header.forEach(function (header, index) { %>
          <tr>
            <th class="folder-<%= header.folder.toLowerCase() %>">
              <%= header.folder %>
              <br>
              <%= header.description %>
            </th>
          <% htmlWebpackPlugin.options.grade.guides.forEach(function (value) { %>
            <td><%= value.values[index] %></td>
          <% }) %>
          </tr>
        <% }) %>
      </table>

      <table class="musics">
        <colgroup class="cell-data"></colgroup>
        <colgroup class="cell-data"></colgroup>
        <colgroup></colgroup>
        <thead>
          <tr>
            <th>
              <select id="folder-selector" v-on:change="filterMusics">
                <option>ALL</option>
                <option>F</option>
                <option>E</option>
                <option>D</option>
                <option>C</option>
                <option>B</option>
                <option>A</option>
                <option>-</option>
              </select>
            </th>
            <th>
              <% if (htmlWebpackPlugin.options.grade.levels.length > 1) { %>
              <select id="level-selector" v-on:change="filterMusics">
                <option>ALL</option>
                <% htmlWebpackPlugin.options.grade.levels.forEach(function (value) { %>
                <option value="<%= value %>"><%= value %></option>
                <% }) %>
              </select>
              <% } %>
            </th>
            <th><label><input type="checkbox" id="isUndefinedShown" v-on:change="toggleUndefinedShown">未査定の曲を表示</label></th>
          </tr>
          <tr>
            <th>FOLDER</th>
            <th>LEVEL</th>
            <th>TITLE</th>
          </tr>
        </thead>
        <tbody>
          <% htmlWebpackPlugin.options.musics.forEach(function (value) { %>
          <tr class="folder-<%= value.folder.toLowerCase().substring(0, 1) %>"<% if (value.folder.length == 0) { %> style="display: none;"<% } %>>
            <td class="cell-data"><%= value.folder.substring(0, 1) %></td>
            <td class="cell-data"><%= value.level %></td>
            <td><%= decodeURIComponent(value.title) %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    </div>

    <footer>
    </footer>
  </body>
</html>